.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 150px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.nav-items {
    font: 1em sans-serif;
    padding: 30px;
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}


.res-card {
    margin: 20px;
    width: 260px;
    height: 560px;
    padding: 2px;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    cursor: pointer;
}

.res-card > h3 {
    padding: 6px;
    font-weight: bolder;
}

.res-card > h4 {
    padding: 6px;
    font-weight: 300;
}

.res-card > h5 {
    padding: 6px;
    font-weight: 150;
}
.res-card:hover {
    border: 2px solid rgb(48, 48, 47);
}

.search {
    padding: 10px;
}

.res-img {
    width: 240px;
    height: 250px;
    margin: 6px 6px;
    border-radius: 12px;
    border: #bbb6b6 solid 1px;
    align-self: center;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shimmer-card {
    margin: 20px;
    width: 300px;
    height: 560px;
    padding: 3px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
}

.shimmer-img-card {
    margin: 6px;
    height: 250px;
    background-color: #d3d2d2;
    display: flex;
    margin-bottom: 40px;
    border-radius: 12px;
}

.shimmer-text-card {
    padding: 10px;
    margin: 15px;
    height: 15px;
    background-color: #d3d2d2;
    display: flex;
    border-radius: 12px;
}

.shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
 
    background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 80%);
 
    animation: shimmer 2s infinite linear;
}
 
@keyframes shimmer {
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}

.login {
    padding: 5 px;
    cursor: pointer;
    width: 100px;
    font-weight: 200;
}

.user-card {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width:fit-content;
}